.part1 {
  @apply !bg-transparent !p-0;

  & .arrow-down {
    animation: float 3s infinite ease-in-out;
  }
}

@keyframes float {
  0% {
    transfrom: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}

.part2 {
}

.part3 {
}
