.part1 {
  & .arrow-down {
    animation: float 3s infinite ease-in-out;
  }
}

@keyframes float {
  0% {
    transfrom: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}

section {
  &:global {
    &.container {
      @apply max-w-[800px] m-auto py-[20vh] flex flex-col items-center justify-center relative dark:bg-bg-black bg-white;
      @apply bg-clip-content overflow-hidden;

      & > div {
        @apply px-4 pt-2 rounded-xl overflow-hidden;
      }
    }
  }
}

.part2 {
}

.part3 {
  :global {
    .gap {
      @apply pb-8;
    }
  }
}
